/*************************
        
        Navigation

*************************/

.nav {
    margin: 0 0 50px 0;
    padding: 0;
    background-color: #eee;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav ul {
    list-style-type: none;
    margin: auto;
}

.nav li {
    padding: 10px 20px 10px 20px;
}

.nav a {
    text-decoration: none;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #606060;
}

.nav a:hover {
    color: #008300;
}

#nav-wrapper {
    max-width: 1024px;
    margin: auto;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

/* Flash messages */

.flash-wrapper {
    max-width: 1024px;
    margin: 60px auto 20px;
}

.notification {
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}

.success {
    background-color: #dffbd7;
    color: #45db16;
    display: inline-block;
}

.error {
    background-color: #eed1d8;
    color: #ee003e;
    display: inline-block;
}

/* Main content */

.main-content {
    max-width: 1024px;
    margin: auto;    
}

.main-content h1 {
    font-family: 'Arvo', sans-serif;
    float: left;
}

p {
    font-family: 'Arvo', sans-serif;
    foat: right;
    margin: auto;
    max-width: 50%;
}