{% extends "layout.html" %}

{% block content %}
<div>
    <h1>About</h1>
</div>
<div class="about">
    <a href="#">
    <img src="static/img/sethreece.jpg" alt="Seth Reece">
    </a>
</div>
<div>
    <p>Hello, my name is Seth Reece. On March 20th, 2015 I had a heart attack. After reviewing all of my blood tests, I found that my cholesterol was normal. I was not overweight. From what the docotors could tell, the main contributor was smoking. I struggled with quitting, and decided to make a web site that allows users to login and create posts, and reply to each other.</p>
</div>
{% endblock %}