<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Page</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <header>
        <div class="nav">
            <div id="nav-wrapper">
                <ul>
                    <li class="left-nav"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="left-nav"><a href="{{ url_for('about') }}">About</a></li>
                    {% if current_user.is_authenticated() %}
                    <li class="right-nav"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="right-nav"><a href="{{ url_for('register') }}">Register</a></li>
                    <li class="right-nav"><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}                   
                </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Flash messages -->
    <div class="flash-wrapper">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}        
    </div>
</body>
</html>